

.church-gen-info {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #5a5afc;
  color: white;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 2vw;
}

.upper-text {
  text-align: center;
}

.white-underline {
  height: 2px;
  width: 60px;
  background-color: white;
  margin: 8px auto;
}

.italic-text {
  font-style: italic;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.schedule-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.day-container {
  text-align: center;
  margin-bottom: 20px;
}

.day-container h3 {
  text-transform: uppercase;
}

.day-container ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.day-container li {
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .church-gen-info {
    font-size: 2vw;
    padding: 15px; /* Reduce padding for better spacing */
  }
}

@media screen and (max-width: 768px) {
  .church-gen-info {
    font-size: 2vw; /* Adjust the font size for smaller screens */
    padding: 10px; /* Further reduce padding for better spacing on smaller screens */
  }

  .schedule-container {
    flex-direction: column; /* Display day containers in a column on small screens */
    align-items: center; /* Center day containers horizontally */
  }

  .day-container {
    width: 100%; /* Take full width of the schedule container on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .church-gen-info {
    font-size: 4vw; /* Adjust the font size for even smaller screens */
    padding: 5px; /* Further reduce padding for better spacing on very small screens */
  }
}
