
/* home.css */
.home-container {
  position: relative;
}

.video-container {
  
  
  
  
  
  z-index: -1;
  
}


.content-container {
  /* Add some spacing between the video container and the content */
  margin-top: 10%;
  
}


/* Map styling */
/* embeded map */
.location-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc; /* Add a border around the map */
  padding: 10px; /* Add some padding for better spacing */
}
.map-iframe {
  width: 90%;
  height: 600px;
  border: 0;
}

/* Responsive adjustments */
@media screen and (max-width: 1200px) {
  .map-iframe {
    height: 400px; /* Reduce height for medium-sized screens */
  }
}

@media screen and (max-width: 768px) {
  .map-iframe {
    width: 100%; /* Make it full width on smaller screens */
    height: 300px; /* Adjust height for smaller screens */
  }
}

/* Additional styles for better spacing and aesthetics */
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add some top margin for spacing */
  padding: 20px; /* Add padding to create a visual frame around the map */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  border-radius: 10px; /* Add rounded corners for a modern look */
  background-color: #f9f9f9; /* Add a light background color to make the map stand out */
}

/* Style the iframe container to have a fixed aspect ratio */
.iframe-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio (height/width) */
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.intro-text {
  text-align: center;
  color: aliceblue;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif; /* Applying the welcoming font */
  font-size: 32px; /* Increased font size for better readability */
}
/*simple about*/
.simple-about {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 85%;
  align-items: center;
  background-color: #301934;
  color: white;
  border-radius: 10px;
}

.card-image {
  flex: 1;
  width: 100%;
  max-width: 100%;
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-content {
  flex: 1;
}


.simple-about {
  flex-direction: column;
  justify-content: space-around; /* Add space around the items */
}

/* Larger screens */
@media (min-width: 768px) {
  /* Horizontally arrange the items */
  .simple-about {
    flex-direction: row;
    align-items: center; /* Vertically center the items */
    justify-content: space-around; /* Add space around the items */
  }

  .card-image {
    margin-right: 20px;
    max-width: none;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.purple-box {
  background-color: #301934;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}