/* VideoBackground.css */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

.video-container {
  position: relative;
}

.video-container video {
  width: 100%;
  height: 90vh;
  /*change video height to vh instead of percent*/
  object-fit: cover; /* Use 'cover' to scale the video and maintain aspect ratio */
}

/* Dark layer over the video */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (last parameter) to control the darkness */
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* Increase the z-index to appear above the video overlay */
  max-width: 80%; /* Limit the width of the text container */
  padding: 20px; /* Add some padding for better readability on smaller screens */
}

.churchName {
  font-size: 4vw; /* Use viewport width for font size to make it responsive */
  color: white;
  font-family: 'Old Standard TT', serif;
  margin-bottom: 5%; /* Add spacing between church name and verse text */
}

.verse-text {
  font-size: 2vw; /* Use viewport width for font size to make it responsive */
  color: white;
  font-family: 'Old Standard TT', serif;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .churchName {
    font-size: 6vw; /* Increase the font size for smaller screens */
    margin-bottom: 3%; /* Adjust spacing for smaller screens */
  }

  .verse-text {
    font-size: 3vw; /* Increase the font size for smaller screens */
  }

  .text-container {
    bottom: 5%; /* Move the text container to the bottom */
    left: 5%; /* Move the text container to the right */
    transform: none; /* Reset the translation */
    text-align: right; /* Align the text to the right */
    padding: 10px; /* Reduce padding for better appearance */
    max-width: 90%; /* Increase the width for better readability */
  }
}
