.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-content-1,
.about-us-content-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.about-us-content-2 {
  flex-direction: row-reverse; /* Image on the right, text on the left */
}

.about-us-content-1 .about-us-text,
.about-us-content-2 .about-us-text {
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-content-1 .about-us-image,
.about-us-content-2 .about-us-image {
  flex: 1;
  padding: 0 20px;
  max-width: 100%; /* Set the image width to 100% of its container */
  height: auto; /* Ensure the image scales proportionally */
}

.about-us-image img {
  max-width: 100%; /* Limit the maximum width of the images */
  height: auto; /* Ensure the image scales proportionally */
}

.about-us-text h2,
.about-us-text p {
  margin-bottom: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .about-us-content-1,
  .about-us-content-2 {
    flex-direction: column;
  }

  .about-us-text h2,
  .about-us-text p {
    order: 0; /* Reset the order for smaller screens */
    padding: 10px 0;
  }

  .about-us-content-1 .about-us-image,
  .about-us-content-2 .about-us-image {
    order: 1; /* Image comes second */
    padding-top: 10px; /* Add some spacing between h2 and image */
  }
}
