/* AboutUs.css */
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
  /* Add a light background color */
  gap: 30px;
  /* Add some vertical spacing between content */
}

.about-us-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.about-us-text {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.about-us-image {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Hide any overflowing content */
  overflow: hidden;
}

.about-us-image img {
  width: 100%;
  height: 100%;
  /* Maintain image aspect ratio and cover the entire container */
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .about-us-content {
    flex-direction: column;
  }

  /* Reorder elements for the desired layout */
  .about-us-content:nth-child(even) {
    flex-direction: column-reverse;
  }

  .about-us-text,
  .about-us-image {
    width: 100%;
  }
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  text-align: center;
}
