/* app.css */

body {
  background-color: #ffffff; /* Snow color */
  background-image: linear-gradient(45deg, #fdd8d8, #9b9bff, #eda5ff);
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
}
